* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-image: url(images/pattern-background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
}
